<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BCartLinkDB.Settings.TnbToBcartDB" connectionString="Data Source=tkysv02.671e121da9c3.database.windows.net;Initial Catalog=TnbToBCart;Persist Security Info=True;User ID=tnb;Password=tnb;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>